<!DOCTYPE>
<html>
<head>
<title>Learning Resources found</title>
</head>
  <body>
    <h1>Learning Resources:</h1>
    <div class="google-web">
      <h2>Top hits for <%= keyword %></h2>
      <% $GOOGLE_WEB.each do |result| %>
        <%= heading result.url, result.title %>
        <%= excerpt result.excerpt %>
      <% end %>
    </div>
    <div class="speaakerdeck">
      <h2>Slides for <%= keyword %></h2>
      <% $SLIDES.each do |result| %>
        <%= heading result.url, result.title %>
        <%= image result.url, result.image %>
        <%= excerpt result.excerpt %>
      <% end %>
    </div>
    <div class="stackoverflow">
      <h2>Top StackOverflow hits for <%= keyword %></h2>
      <% $QAs.each do |result| %>
        <%= heading result.url, result.title %>
        <%= excerpt result.excerpt %>
      <% end %>
    </div>
    <div class="google-blog">
      <h2>Blogs for <%= keyword %></h2>
      <% $GOOGLE_BLOG.each do |result| %>
        <%= heading result.url, result.title %>
        <%= excerpt result.excerpt %>
      <% end %>
    </div>
  </body>
</html>
